# 数据库连接配置 (用于 Python 程序)
# 如果使用当前文件夹下的 Docker 数据库，DB_HOST 请填写：postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=rollerbed_tracking_db
DB_USER=root
DB_PASSWORD=root

# 数据库初始化配置 (用于 Postgres 镜像)
# 这里的变量名必须与上面对应，以便 Docker 启动时创建正确的账号
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=rollerbed_tracking_db

# WebSocket 采集端配置
WS_SERVER_HOST=172.21.12.73
WS_SERVER_PORT=8088
WS_SERVER_PATH=/ws/emosweb
WS_USE_PORT_IN_URL=false

# 其他配置
LOG_LEVEL=INFO
DEVICE_CONFIG_PATH=deviceConfig.json
